.section{

   &-list{
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin-left: 35px;
   }

   &-names{
       font-weight: 500;
       font-size: 18px;
       line-height: 22px;
   }

   &__list{
       margin-left: 35px;
   }

   &-company{
       position: absolute;
       left: 81.7%;
   }

   &-city{
       position: absolute;
       left: 62.9%;
   }
   &-suite{
       position: absolute;
       left: 44%;
   }
   &-username{
       position: absolute;
       left: 27%;
   }
}