.section{

    &-list{
        display: flex;
        justify-content: space-between;
        width: 1260px;
        margin-left: 25px;
        list-style: none;
    }

    &-name{
        opacity: 0.4;
        font-size: 16px;
        line-height: 21px;
    }

    &-title{
        display: flex;
        width: 1260px;
        justify-content: space-between;
        align-items: center;
        margin-left: 20px;
    }

    &-username{
        width: 19%;
        text-align: center;
    }
}