.section{
    background-color: #fff;
    border-radius: 12px 12px 0px 0px;
    margin: 0 20px;

   &-list{
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin-left: 40px; 
   }

   &-names{
       font-weight: 500;
       font-size: 18px;
       line-height: 22px;
       width: 240px;
    //    padding-top: 15px;
       display: flex;
       align-items: center;

       &::before{
           content: "";
           display: inline-block;
           background-image: url('../../assets/img/avatar.png');
           background-repeat: no-repeat;
           width: 35px;
           height: 35px;
           background-size: 30px;
           background-position: top 50% left 0%;
        //    display: flex;
           align-items: center;
       }
   }

   &__list{
       margin-left: 40px;
   }

   &-company{
       position: absolute;
       left: 83.8%;
       margin-top: -30px;
       font-weight: 400;
       font-size: 14px;
       line-height: 17px;
   }

   &-city{
       position: absolute;
       left: 65%;
       margin-top: -30px;
       font-weight: 400;
       font-size: 14px;
       line-height: 17px;
   }
   &-suite{
       position: absolute;
       left: 46%;
       margin-top: -30px;
       font-weight: 400;
       font-size: 14px;
       line-height: 17px;
   }
   &-username{
       position: absolute;
       left: 29.4%;
       height: 35px;
       margin-top: -30px;
       font-weight: 400;
       font-size: 14px;
       line-height: 17px;
   }


   &__list{
       margin-top: 15px;
   }

   &-title{
       height: 47px;
   }
}